{% extends 'base.html' %}

{% load humanize %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Board</li>
{% endblock %}

{% block content %}
  <table class="table">
    <thead class="thead-light">
    <tr>
      <th>Board</th>
      <th>Topics</th>
      <th>Posts</th>
      <th>Last post</th>
    </tr>
    </thead>
    <tbody>
    {% for board in boards %}
      <tr>
        <td>
          <a href="{% url 'topic_list' board.pk %}">{{ board.name }}</a>
          <small class="text-muted d-block">{{ board.description }}</small>
        </td>
        <td class="align-middle">{{ board.topics.count }}</td>
        <td class="align-middle">{{ board.get_posts_count }}</td>
        <td class="align-middle">
          {% with board.get_last_post as post %}
            {% if post %}
              <p>
                <a
                  href="{% url 'post_list' board.pk post.topic.pk %}?page={{ post.topic.get_page_count }}">{{ post }}
                </a>
              </p>
              <small>
                By <a href="{% url 'users:detail' post.created_by.username %}">{{ post.created_by.username }}</a> at
                {{ post.created_at|naturaltime }}
              </small>
            {% else %}
              <em>No posts yet.</em>
            {% endif %}
          {% endwith %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
