{% extends 'base.html' %}

{% load static humanize gravatar post_tags %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/project.css' %}">
{% endblock %}

{% block title %}
  {{ topic.subject }}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Boards</a></li>
  <li class="breadcrumb-item"><a href="{% url 'topic_list' topic.board.pk %}">{{ topic.board.name }}</a></li>
  <li class="breadcrumb-item active">{{ topic.subject }}</li>
{% endblock %}

{% block content %}

  <div class="mb-4">
    <a href="{% url 'reply_topic' board_pk=topic.board.pk topic_pk=topic.pk %}" class="btn btn-primary"
       role="button">Reply</a>
  </div>

  {% for post in posts %}
    <div id="{{ post.pk }}" class="card {% if forloop.last %}mb-4{% else %}mb-2{% endif %}
      {% if forloop.first %}border-dark{% endif %}">
      {% if forloop.first %}
        <div class="card-header text-white bg-dark py-2 px-3">{{ topic.subject }}</div>
      {% endif %}
      <div class="card-body p-3">
        <div class="row">
          <div class="col-2">
            <img src="{{ post.created_by|gravatar }}" alt="{{ post.created_by.username }}" class="w-100">
            <small>Posts: {{ post.created_by.posts.count }}</small>
          </div>
          <div class="col-10">
            <div class="row mb-3">
              <div class="col-6">
                <a href="{% url 'users:detail' post.created_by.username %}">{{ post.created_by.username }}</a>
              </div>
              <div class="col-6 text-right">
                <small class="text-muted">{{ post.last_updated_at|naturaltime }}</small>
              </div>
            </div>
            {{ post.message }}
            {% if post.created_by == request.user %}
              <div class="mt-3">
                <a href="{% url 'post_update' topic.board.pk topic.pk post.pk %}" class="btn btn-primary btn-sm"
                   role="button">Edit</a>
                <a href="{% url 'post_delete' topic.board.pk topic.pk post.pk %}"
                   class="btn btn-danger btn-sm">Delete</a>
              </div>
            {% endif %}
            {% if post.created_by != request.user %}
              <div class="text-right">
                {% is_post_liked_by_user post request.user as liked %}
                <a class="btn {% if liked %}
                btn-primary
                {% else %}
                btn-default btn-outline-primary
                {% endif %} btn-sm" href="
                  {% url 'post_like' topic.board.pk topic.pk post.pk %}">{{ post.get_number_likes }} Like</a>
                <a class="btn btn-default btn-outline-primary btn-sm" href="#"> Dislike</a>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

  {% include 'includes/pagination.html' %}

{% endblock %}
